force-app/main/default/flows/Author_Matches_Publisher_On_Book_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Match_False</name>
        <label>Set_Match_False</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Author_And_Publisher_Match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Author_Matches_Publisher_On_Book_Check</name>
        <label>Author_Matches_Publisher_On_Book_Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Match</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Author_Publisher_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Match_False</targetReference>
            </connector>
            <label>Do Not Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Author_Matches_Publisher_On_Book_Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Author_Matches_Publisher_On_Book_Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Author_Publisher_Record</name>
        <label>Author_Publisher_Record</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Author_Matches_Publisher_On_Book_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Author__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Author__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Publisher__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Publisher__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Author_Publisher__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Author_Publisher_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Author__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Publisher__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Book__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
