force-app/main/default/flows/Count_The_Number_Of_Published_Books_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Count_the_total_number_of_books</name>
        <label>Count the total number of books</label>
        <locationX>778</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>Totalnumberofbooksforcurrentauthor</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_books_for_current_author</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_author_number_of_published_books_field</targetReference>
        </connector>
    </assignments>
    <description>Add decrement</description>
    <environments>Default</environments>
    <formulas>
        <name>Decrementnumberofpublishedbooksformula</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Author__r.Number_Of_Published_Books__c} - 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Count The Number Of Published Books Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count The Number Of Published Books Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_books_for_current_author</name>
        <label>Get all books for current author</label>
        <locationX>776</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_the_total_number_of_books</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Author__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Author__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Decrement_previous_authors_number_of_books</name>
        <label>Decrement previous authors number of books</label>
        <locationX>778</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Get_all_books_for_current_author</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Author__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Published_Books__c</field>
            <value>
                <elementReference>Decrementnumberofpublishedbooksformula</elementReference>
            </value>
        </inputAssignments>
        <object>Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_author_number_of_published_books_field</name>
        <label>Update author number of published books field</label>
        <locationX>781</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Author__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Published_Books__c</field>
            <value>
                <elementReference>Totalnumberofbooksforcurrentauthor</elementReference>
            </value>
        </inputAssignments>
        <object>Author__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decrement_previous_authors_number_of_books</targetReference>
        </connector>
        <object>Book__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Totalnumberofbooksforcurrentauthor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
